.total {
  width: 600px;
  min-height: 272px;
  margin-top: 84px;
}

.ingredientsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  padding: 0;
}

.listElement {
  display: flex;
  width: 584px;
  align-items: center;
  column-gap: 9px;
  justify-content: flex-end;
}

.smallScroll {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 36vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.smallScroll::-webkit-scrollbar {
  width: 8px;
  background-color: #2F2F37;
}

.smallScroll::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}
